server {
    listen 80;  # Слушать HTTP запросы на порту 80
    server_name {{ server_name }};  # Переменная

    root /var/www/html;  # Корневая директория для файлов сайта
    index index.php;  # Файл, который будет использоваться как индексный по умолчанию

    # Основной маршрут для обработки URI
    location / {
        try_files $uri $uri/ /index.php?$query_string;
        # Пытается найти указанный $uri, затем $uri/ как каталог,
        # и если не находит - перенаправляет запросы на index.php, передавая исходные параметры запроса
    }

    # Обработка файлов с расширением .php
    location ~ \.php$ {
        fastcgi_pass php:9000;  # Передача обработки запросов на FastCGI сервер, работающий на 9000 порту
        fastcgi_index index.php;  # Файл, используемый по умолчанию для обработки
        include fastcgi_params;  # Подключение настроек FastCGI
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        # Параметр SCRIPT_FILENAME используется для указания полного пути к исполняемому скрипту
    }

}